@font-face {
    font-family: Breaking Bad;
    src: url(../fonts/Breaking\ Bad.ttf);
}
.fontBbad {
    font-family: Breaking Bad;
}
body {
    font-family: Helvetica;
    text-align: center;
}
body.imgFondo {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
body.green {
    background-color: #0c3e11;
}
.center {
    margin: 0 auto;
}
.textCener {
    text-align: center;
}
.title{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 30px;
}
.marginTop35 {
    margin-top: 35px;
}
.subtitle {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}
#indexPoster {
    width: 700px;
    height: 300px;
    border: 10px outset #a52a2a;
    border-radius: 22px;
}
#indexLogo {
    width: 200px;
    height: 200px;
}
#formulario {
    background-color: #ffffff;
    opacity: 0.7;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 #ffffffcc;
    border-radius: 10px;
    position: relative;
    margin: 45px;
    max-width: 400px;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
}
#data {
    color: #2C7FE1;
    background: none;
    padding: 10px 0px 6px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #5e5d5dcc;
    outline: none;
}
#personaje {
    width: 100%;
}
#comentarios {
    color: #2C7FE1;
    outline: none;
    width: 252px;
    padding: 0;
}
#tablaCabecera {
    width: 550px;
    height: 250px;
}

.personalData {
    max-width: 254px;
    margin: auto;
    text-align: left;
}
.required {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: lighter;
    font-style: oblique;
}
.periodicTable {
    border: 3px solid #1A221E;
    border-spacing: 0;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bolder;
}
td {
    min-width: 85px;
    max-width: 85px;
    border: 4px solid #1A221E;
    padding-top: 4px;
}
.greenType1 {
    background-color: #C3C627;
}
.greenType2 {
    background-color: #D4EB70;
}
.greenType3 {
    background-color: #B8DC1C;
}
.greenType4 {
    background-color: #EFF6C7;
}
.greenType5 {
    background-color: #89A418;
}
.greenType6 {
    background-color: #627126;
}
.greenType7 {
    background-color: #BBC49F;
}
.greenType8 {
    background-color: #C5E345;
}
.greenType9 {
    background-color: #818C56;
}
.purple {
    background-color: #676BB0;
}
.emptyCell {
    background-color: #1A221E;
}
.smallText {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 1px;
    font-weight: normal;
}
.hankSchraderColor {
    background: linear-gradient(to right, #B8DC1C 50%, #EFF6C7 50%);
}
