<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Breaking Bad</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="imgFondo">
    <img id="indexlogo" src="../img/logo.PNG" alt="Logo Breaking Bad">
    <div class="title fontBbad">I did it for me. I liked it. I was good at it. And, I was really... I was alive.</div>
    <img id="indexPoster" src="../img/poster.jpg" alt="Poster Breaking Bad" usemap="#mapeado">
    <map name="mapeado">
        <area shape="rect" coords="484,154,546,212" href="formulario.html" target="_blank">
        <area shape="rect" coords="543,218,601,273" href="tabla.html" target="_blank">
    </map>
</body>
</html>