<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Breaking Bad</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="green">
    <img class="marginTop35" id="tablaCabecera" src="../img/cabecera.png" alt="Poster Breaking Bad"><br>
    <table class="periodicTable center textCenter">
        <tr>
            <td class="greenType3" rowspan="2">
                <img src="../img/tabla_periodica/walterwhite.png" alt="walterwhite">
                W
                <p class="smallText">Walter White</p>
            </td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td>de</td>
        </tr>
        <tr>
            <td class="hankSchraderColor" rowspan="2">
                Ha
                <p class="smallText">Hank Schrader</p>
                <img src="../img/tabla_periodica/hankschrader2.png" alt="hankschrader">
            </td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td rowspan="2">
                he
            </td>
            <td rowspan="2">
                ts
            </td>
            <td rowspan="2">g</td>
            <td>ty</td>
            <td>ju</td>
        </tr>
        <tr>
            <td class="greenType3" rowspan="2">
                Sk
                <p class="smallText">Skyler White</p>
                <img src="../img/tabla_periodica/skylerwhite.png" alt="skylerwhite">
            </td>
            <td class="greenType4">
                St
                <p class="smallText">Steven Gómez</p>
            </td>
            <td class="greenType5" rowspan="2">
                Sa
                <p class="smallText">Saul Goodman</p>
                <img src="../img/tabla_periodica/saulgoodman.png" alt="saulgoodman">
            </td>
            <td class="greenType5" rowspan="2">
                J
            </td>
            <td>sp</td>
            <td rowspan="2">ga</td>
            <td>to</td>
        </tr>
        <tr>
            <td class="purple" rowspan="2">
                Ma
                <p class="smallText">Maries Schrader</p>
                <img src="../img/tabla_periodica/marieschrader.png" alt="marieschrader">
            </td>
            <td class="greenType4">
                Ra
                <p class="smallText">SAC Ramey</p>
            </td>
            <td rowspan="2">
                1
            </td>
            <td>2</td>
            <td>3</td>
            <td rowspan="2">
                4
            </td>
            <td>5</td>
        </tr>
        <tr>
            <td class="greenType3">
                WJ
                <p class="smallText">Walter Jr.</p>
            </td>
            <td class="greenType4">
                Ge
                <p class="smallText">ASAC<br>George Merkert</p>
            </td>
            <td class="greenType5">
                Hu
                <p class="smallText">Huell</p>
            </td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
        <tr>
            <td class="greenType3">
                Ho
                <p class="smallText">Holly White</p>
            </td>
            <td class="greenType2">
                Te
                <p class="smallText">Ted Beneke</p>
            </td>
            <td class="greenType4">
                Ti
                <p class="smallText">Tim Roberts</p>
            </td>
            <td class="greenType5">
                Ku
                <p class="smallText">Kuby</p>
            </td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
        </tr>
        <tr>
            <td class="greenType2">
                El
                <p class="smallText">Elliot Schwartz</p>
            </td>
            <td class="greenType2">
                Bo
                <p class="smallText">Bogdan</p>
            </td>
            <td class="greenType2">
                Hg
                <p class="smallText">Hugo Archuleta</p>
            </td>
            <td class="greenType2">
                Mr
                <p class="smallText">Mr. Pinkman</p>
            </td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
        </tr>
        <tr>
            <td class="greenType2">
                Gr
                <p class="smallText">Gretchen Schwartz</p>
            </td>
            <td class="greenType2">
                Ca
                <p class="smallText">Carmen Molina</p>
            </td>
            <td class="greenType2">
                JP
                <p class="smallText">Jake Pinkman</p>
            </td>
            <td class="greenType2">
                Ms
                <p class="smallText">Mrs. Pinkman</p>
            </td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td>32</td>
            <td>33</td>
            <td>34</td>
            <td>35</td>
        </tr>
    </table>
    <table class="periodicTable center textCenter greenType1">
        <tr>
            <td>
                B
                <p class="smallText">Blue Sky<br>Meth</p>
            </td>
            <td>37</td>
            <td>38</td>
            <td>39</td>
            <td>40</td>
            <td>41</td>
            <td>42</td>
            <td>43</td>
            <td>44</td>
            <td>45</td>
        </tr>
        <tr>
            <td><img src="../img/tabla_periodica/cristal.png" alt="cristal"></td>
            <td>47</td>
            <td><img src="../img/tabla_periodica/pizza.png" alt="pizza"></td>
            <td>49</td>
            <td><img src="../img/tabla_periodica/calzoncillos.png" alt="calzoncillos"></td>
            <td>51</td>
            <td>52</td>
            <td>53</td>
            <td>54</td>
            <td>55</td>
        </tr>
    </table>



</body>
</html>