<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Breaking Bad</title>
    <link rel="icon" type="image/x-icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="green">
    <img class="marginTop35" id="tablaCabecera" src="../img/cabecera.png" alt="Poster BreakingBad"><br>
    <table class="periodicTable center textCenter">
        <tr>
            <td class="greenType3" rowspan="2">
                <img src="../img/tabla_periodica/walterwhite.png" alt="Walter White">
                W<p class="smallText">Walter White</p>
            </td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="greenType9">
                DE<p class="smallText">Don Eladio</p>
            </td>
        </tr>
        <tr>
            <td class="hankSchraderColor" rowspan="2">
                Ha<p class="smallText">Hank Schrader</p>
                <img src="../img/tabla_periodica/hankschrader2.png" alt="Hanks Chrader">
            </td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td class="emptyCell"></td>
            <td rowspan="2"  class="greenType8">
                He<p class="smallText">Hector<br>Salamanca</p>
                <img src="../img/tabla_periodica/hectorsalamanca.png" alt="Hector Salamanca">
            </td>
            <td rowspan="2"  class="greenType8">
                Ts<p class="smallText">Tuco Salamanca</p>
                <img src="../img/tabla_periodica/tucosalamanca.png" alt="Tuco Salamanca">
            </td>
            <td rowspan="2" class="greenType7">
                G<p class="smallText">Gustavo Fring</p>
                <img src="../img/tabla_periodica/gustavofrink.png" alt="Gustavo Frink">
            </td>
            <td class="greenType7">
                Ty<p class="smallText">Tyrus Kitt</p>
            </td>
            <td class="greenType9">
                Ju<p class="smallText">Juan Bolsa</p>
            </td>
        </tr>
        <tr>
            <td class="greenType3" rowspan="2">
                Sk<p class="smallText">Skyler White</p>
                <img src="../img/tabla_periodica/skylerwhite.png" alt="Skyler White">
            </td>
            <td class="greenType4">
                St<p class="smallText">Steven Gómez</p>
            </td>
            <td rowspan="2" class="greenType5">
                Sa<p class="smallText">Saul Goodman</p>
                <img src="../img/tabla_periodica/saulgoodman.png" alt="Saul Goodman">
            </td>
            <td rowspan="2" class="greenType5">
                J<p class="smallText">Jessie Pinkman</p>
                <img src="../img/tabla_periodica/jessiepinkman.png" alt="Jessie Pinkman">
            </td>
            <td class="greenType6">
                SP<p class="smallText">Skinny Pete</p>
            </td>
            <td rowspan="2" class="greenType7">
                Ga<p class="smallText">Gale Boetticher</p>
                <img src="../img/tabla_periodica/gale.png" alt="Gale Boetticher">
            </td>
            <td class="greenType9">
                To<p class="smallText">El Tortuga</p>
            </td>
        </tr>
        <tr>
            <td class="purple" rowspan="2">
                Ma<p class="smallText">Maries Schrader</p>
                <img src="../img/tabla_periodica/marieschrader.png" alt="Marie Schrader">
            </td>
            <td class="greenType4">
                Ra<p class="smallText">SAC Ramey</p>
            </td>
            <td rowspan="2" class="greenType6">
                Bg<p class="smallText">Badger</p>
                <img src="../img/tabla_periodica/badger.png" alt="Badger">
            </td>
            <td class="greenType8">
                LS<p class="smallText">Leonel<br>Salamanca</p>
            </td>
            <td class="greenType8">
                MS<p class="smallText">Marco<br>Salamanca</p>
            </td>
            <td rowspan="2" class="greenType7">
                M<p class="smallText">Mike<br>Ehrmantraut</p>
                <img src="../img/tabla_periodica/mike.png" alt="Mike">
            </td>
            <td class="greenType9">
                Gf<p class="smallText">Gaff</p>
            </td>
        </tr>
        <tr>
            <td class="greenType3">
                WJ<p class="smallText">Walter Jr.</p>
            </td>
            <td class="greenType4">
                Ge<p class="smallText">ASAC<br>George Merkert</p>
            </td>
            <td class="greenType5">
                Hu<p class="smallText">Huell</p>
            </td>
            <td class="greenType5">
                OJ<p class="smallText">Old Joe</p>
            </td>
            <td class="greenType6">
                K8<p class="smallText">Krazy-8<br>Molina</p>
            </td>
            <td class="greenType8">
                ND<p class="smallText">No-Doze</p>
            </td>
            <td class="greenType7">
                Vi<p class="smallText">Victor</p>
            </td>
            <td class="greenType7">
                BC<p class="smallText">Lydia<br>Rodarte-Quayle</p>
            </td>
        </tr>
        <tr>
            <td class="greenType3">
                Ho<p class="smallText">Holly White</p>
            </td>
            <td class="greenType2">
                Te<p class="smallText">Ted Beneke</p>
            </td>
            <td class="greenType4">
                Ti<p class="smallText">Tim Roberts</p>
            </td>
            <td class="greenType5">
                Ku<p class="smallText">Kuby</p>
            </td>
            <td class="greenType5">
                La<p class="smallText">Lawson</p>
            </td>
            <td class="greenType6">
                Co<p class="smallText">Combo Ortega</p>
            </td>
            <td class="greenType6">
                Em<p class="smallText">Emilio Koyama</p>
            </td>
            <td class="greenType8">
                Go<p class="smallText">Gonzo</p>
            </td>
            <td class="greenType7">
                Mx<p class="smallText">Maximino<br>Arciniega</p>
            </td>
            <td class="greenType7">
                De<p class="smallText">Dennis<br>Markowski</p>
            </td>
            <td class="greenType7">
                Da<p class="smallText">Dan<br>Wachsberger</p>
            </td>
        </tr>
        <tr>
            <td class="greenType2">
                El<p class="smallText">Elliot<br>Schwartz</p>
            </td>
            <td class="greenType2">
                Bo<p class="smallText">Bogdan</p>
            </td>
            <td class="greenType2">
                Hg<p class="smallText">Hugo Archuleta</p>
            </td>
            <td class="greenType2">
                Mr<p class="smallText">Mr. Pinkman</p>
            </td>
            <td class="greenType5">
                To<p class="smallText">Todd</p>
            </td>
            <td class="greenType6">
                AC<p class="smallText">Andrea<br>Cantillo</p>
            </td>
            <td class="greenType6">
                JM<p class="smallText">Jame<br>Margolis</p>
            </td>
            <td class="greenType2">
                Na<p class="smallText">NA Leader</p>
            </td>
            <td class="greenType7">
                Ch<p class="smallText">Chris Mara</p>
            </td>
            <td class="greenType7">
                Du<p class="smallText">Duane Chow</p>
            </td>
            <td class="greenType2">
                Sp<p class="smallText">Spoogie</p>
            </td>
        </tr>
        <tr>
            <td class="greenType2">
                Gr<p class="smallText">Gretchen<br>Schwartz</p>
            </td>
            <td class="greenType2">
                Ca<p class="smallText">Carmen<br>Molina</p>
            </td>
            <td class="greenType2">
                JP<p class="smallText">Jake Pinkman</p>
            </td>
            <td class="greenType2">
                Ms<p class="smallText">Mrs. Pinkman</p>
            </td>
            <td class="greenType2">
                Cl<p class="smallText">Clovis</p>
            </td>
            <td class="greenType2">
                BC<p class="smallText">Brock Cantillo</p>
            </td>
            <td class="greenType2">
                DM<p class="smallText">Donald<br>Margolis</p>
            </td>
            <td class="greenType2">
                Dr<p class="smallText">Drew Sharp</p>
            </td>
            <td class="greenType2">
                Lo<p class="smallText">Louies</p>
            </td>
            <td class="greenType2">
                Dc<p class="smallText">Declan</p>
            </td>
            <td class="greenType2">
                We<p class="smallText">Wendy</p>
            </td>
        </tr>
    </table>
    <table class="periodicTable center textCenter greenType1">
        <tr>
            <td>
                B<p class="smallText">Blue Sky<br>Meth</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/bus.png" alt="Bus">
            </td>
            <td>
                Pi<p class="smallText">Roof Pizza</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/pistola.png" alt="Pistola">
            </td>
            <td>
                Ti<p class="smallText">Tighty Whiteys</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/pocima.png" alt="Pocima">
            </td>
            <td>
                R<p class="smallText">Respirator</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/movil.png" alt="Movil">
            </td>
            <td>
                Pl<p class="smallText">Plate</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/mosca.png" alt="Mosca">
            </td>
        </tr>
        <tr>
            <td>
                <img src="../img/tabla_periodica/cristal.png" alt="Cristal">
            </td>
            <td>
                RV<p class="smallText">The<br>Crystal Ship</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/pizza.png" alt="Pizza">
            </td>
            <td>
                Lz<p class="smallText">Laser Base</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/calzoncillos.png" alt="Calzoncillos">
            </td>
            <td>
                HCl<p class="smallText">Hydrochloric<br>Acid</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/mascara.png" alt="Mascara">
            </td>
            <td>
                Fl<p class="smallText">Flip Phone</p>
            </td>
            <td>
                <img src="../img/tabla_periodica/plato.png" alt="Plato">
            </td>
            <td>
                Fy<p class="smallText">Fly</p>
            </td>
        </tr>
    </table>
</body>
</html>